* {
    margin: 0; 
    padding:0;
}

 html {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


body {
    background-color:#021848;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}


.sidebar {
    float:left;
    border-right:2px solid #00FFD1;
    height:100%;
}


.sidebar > div {
    padding:25px 70px;
    font-size:1.2em; 
    letter-spacing:1.2px;
    text-align:center;
}

.nba-teams-container {
    height:50vh;
    display:none;
    overflow:auto;
}

.nba-teams-container > ul > .nba-team {
    border:3px solid #00FFD1;
    border-radius:3px;
    box-shadow:10px 10px 10px rgba(20, 180, 216, 0.2);
    margin:15px;
    padding:5px;
    cursor: pointer;
    list-style-type: none;
}

.nba-teams-container > ul > .nba-team:hover {
    background-color:rgba(9, 43, 116, 0.7);
}


.filter-by-size > a ,.filter-by-team > a {
    text-decoration:none;
    color:#FFFFFF;
}


.sizes-container {
    display: none;
}



.sizes-container > .row > button {
    font-size:1em;
    letter-spacing:1.2px;
    background-color:transparent;
    color:#FFFFFF;
    border:3px solid #00FFD1;
    border-radius:5px;
    padding:5px;
    box-shadow:3px 0 20px rgba(20, 180, 216,0.4);
    margin:5px;
    cursor:pointer;
}


.sizes-container > .row > button:hover {
    background-color:rgba(9, 43, 116, 0.7);
}

.sidebar > div:not(.sidebar > div:last-child) {
    border-bottom:2px solid #00FFD1;
}


.items-container > .items-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    padding:30px;
}

.items-container > .items-row > .item {
    position:relative;
    text-align: center;
    background-color: #021848;
    font-size:1.2em;
    border-radius: 10px;
    padding:5px;
    margin:20px;
    transition:transform 0.2s;
    line-height:1.4;
    max-width:350px;
    width:35%;
    min-width:250px;
}


.items-container > .items-row > .item:hover {
    transform:translateY(5px);
}

.items-container > .items-row > .item::before {
    content: '';
    border-radius:10px;
    top: -15px;
    left: -10px;
    bottom: -15px;
    right: -15px;
    background-image: linear-gradient(to bottom,#1C4EFE 0%, #112F98 100%);
    box-shadow:10px 0 50px rgba(20, 180, 216,0.4);
    position: absolute;
    transition:0.2s;
    z-index:-1;
}


.items-container > .items-row > .item:hover::before {
    box-shadow:10px 0 80px rgba(20, 180, 216,0.4);

}

.items-container > .items-row > .item::after {
    content: '';
    border-radius:10px;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    background-image: linear-gradient(to bottom,#062466 0%, #87062D 100%);
    position: absolute;
    z-index:-1;
}


.items-container > .items-row > .item img {
    max-width:300px;
    min-width:200px;
    width:80%;
    margin-bottom:10px;
    cursor:pointer;
}



.items-container > .items-row > .item > p > a {
    text-decoration:none;
    color:white;
    letter-spacing:1.125px;
}

.initial-price > input,.ending-price > input {
    font-size:1.1em;
    border:2px solid #31f8f8;
    background-color: transparent;
    color:#FFFFFF;
    border-radius: 5px;
}

.fa-angle-down {
    transition:0.3s;
}

.initial-price > input,.ending-price > input:focus {
    outline:none;

}
.initial-price,.ending-price {
    margin:15px 10px;
}

.ascending-order,.descending-order {
    margin:20px;
}


.button-container > input {
    font-size:1.1em;
    background-color:transparent;
    border:2px solid #31f8f8;
    color:#FFFFFF;
    box-sizing:border-box;
    box-shadow:10px 0 20px rgba(20, 180, 216,0.4);
    padding:5px 10px;
    letter-spacing:1.5px;
    border-radius:5px;
    transition:box-shadow 0.2s;
    cursor:pointer;
    margin-top:10px;    
}

.button-container > input:hover {
    box-shadow:10px 0 20px rgba(20, 180, 216,0.6);
}