
html {
    overflow-x:hidden;
}

body {
    background-color:#021848FF;
    overflow-x:hidden;
}

a {
    text-decoration: none;
    color:#FFFFFF;
}

.content-container {
    display: flex;
    flex-direction:row;
    justify-content:center;
    position:relative;
}



.total-order-container {
    position:absolute;
    width:25%;
    text-align:center;
    padding:15px;
    height:100%;
    border-right:2px solid #00FFD1;
    left:0;
}

.total-order-container > h1 {
    letter-spacing:2.5px;
}


.cart-container > .cart-item {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:10px;
    line-height:1.3;
}

.cart-item-content {
    font-size:1.5em;
    letter-spacing:2.3px;
    line-height:1.5;
    margin:20px;
}

.cart-item {
    margin:40px 20px;
    padding:10px;
}

.cart-container > .cart-item > .cart-item-image > img {
    width:100%;
    cursor:pointer;
}

.cart-item-image {
    width:50%;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;

}



.cart-item-description, .cart-item-price, .cart-item-amount, .remove-from-cart {
    margin:20px 10px;
}

.total-order-container {
    line-height:1.6;
    letter-spacing:2px;
}

.total-details {
    font-size:1.2em;
    font-weight:bold;
    line-height:2;
}


.total-details,.proceed-to-checkout-button {
    margin:20px;
}

.remove-from-cart-btn {
    font-size:1em;
    color:#FFFFFF;
    background-color:rgb(2, 24, 72);
    letter-spacing:2px;
    border-radius:5px;
    border:2px solid #31f8f8;
    box-shadow: 10px 0 20px rgba(20, 180, 216, 0.4);
    transition:0.2s;
    padding:10px 20px;
    cursor:pointer;
}

.remove-from-cart .remove-from-cart-btn:hover {
    background-color:rgba(8, 45, 125, 0.3);
    box-shadow:10px 0 20px rgba(20, 180, 216, 0.6);
}


.proceed-to-checkout-btn {
    font-size:1.3em;
    color:#FFFFFF;
    background-color:rgb(2, 24, 72);
    letter-spacing:2.3px;
    border-radius:5px;
    border:2px solid #31f8f8;
    box-shadow: 10px 0 20px rgba(20, 180, 216, 0.4);
    transition:0.2s;
    padding:15px 25px;
    cursor:pointer;
}



.proceed-to-checkout-button .proceed-to-checkout-btn:hover {
    background-color:rgba(8, 45, 125, 0.3);
    box-shadow:10px 0 20px rgba(20, 180, 216, 0.6);
}

#response-message-order {
    color: rgb(135, 6, 45);
    font-size:1.2em;
    margin:15px;
}


@media screen and (max-width:600px) {
    .cart-container > .cart-item {
        flex-direction:column;
        text-align:center;
        align-items:center;
    }

    .cart-container > .cart-item > .cart-item-image {
        width:70%;
        max-width:350px;
    }

    .cart-container > .cart-item > .cart-item-image > img {
        width:100%;
        cursor:pointer;
    }





    }

@media screen and (max-width:768px) {


    .cart-container > .cart-item > .cart-item-image > img {
        width:80%;
    }

        .cart-item-content {
        font-size:1.3em;
    }

    .total-order-content-container > h1 {
        font-size:1.5em;
    }

    .total-order-content-container > h2 {
        font-size:1.4em;
    }

    .total-order-content-container > .total-details {
        font-size:1.3em;
    }
}


@media screen and (max-width:1200px) {

    .content-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .total-order-container {
        position: relative;
        border-right: none;
        width: 100%;
    }

}

@media screen and (min-width:1201px) {

    .cart-container {
        width: 40%;
        min-width:550px;
    }

    .cart-container > .cart-item > .cart-item-image {
        min-width: 200px;
    }
}