@media screen and (max-width:980px) {
    body {
        text-align: center;
    }
    #content-container {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .item-container {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width:500px) {
    .item-details > .item-price , .item-size,.item-details > .item-quantity {
        font-size:1.4em;
    }
    .add-to-cart-button > .add-to-cart-btn {
        font-size:1.2em;
        padding:5% 20%;
    }
}

@media screen and (min-width:980px) {
    .item-container > .item::before {
        content: '';
        border-radius:10px;
        top: -15px;
        left: -10px;
        bottom: -15px;
        right: -15px;
        background-image: linear-gradient(to bottom,#1C4EFE 0%, #112F98 100%);
        box-shadow:10px 0 50px rgba(20, 180, 216,0.4);
        position: absolute;
        z-index:-1;
    }
    
    .item-container > .item::after {
        content: '';
        border-radius:10px;
        top: -10px;
        left: -10px;
        bottom: -10px;
        right: -10px;
        background-image: linear-gradient(to bottom,#062466 0%, #87062D 100%);
        position: absolute;
        z-index:-1;
}
}