body {
    background-color:#021848;
}
.account-details-orders-container {
    display:flex;
    font-size:2.3em;
    font-weight:bold;
    text-align:center;
}
.account-details,.my-orders {
    flex:1;
    padding:30px 0;
    letter-spacing: 2.3px;
    text-align:center;
}

.account-details {
    background-image: linear-gradient(253deg, #062466 0%, #87062D 100%);
}

.account-details-table {
    margin: 35vh auto 0;
    transform: translateY(-40%);
    border-collapse:collapse;
}

td,th {
    padding: 20px 25px;
    font-size:1.5em;
    border:2px solid #00FFD1;
    letter-spacing: 1.4;
}

