body {
    background-color:#021848;
}
.account-details-orders-container {
    display:flex;
    font-size:2.3em;
    font-weight:bold;
    text-align:center;
}
.account-details,.my-orders {
    flex:1;
    padding:30px 0;
    letter-spacing: 2.3px;
    text-align:center;
}


.my-orders {
    background-image: linear-gradient(253deg, #062466 0%, #87062D 100%);
}

.account-details {
    transition:0.5s ease-in-out;
}


.account-details:hover {
    background-image: linear-gradient(253deg, #062466 0%, #87062D 100%);

}

 .account-details:hover + .my-orders {
    background-image:none;
}