* {
    margin:0;
    padding:0;
}

body {
    background-color:#021848;
    color:#FFFFFF;
    text-align:center;
    font-family: Inter,sans-serif;
}

div {
    margin: 20px;
    line-height:1.4;
    letter-spacing: 1.5;
}
