body {
    background-color: #021848;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; 
    height:100vh;
}

.sign-up-or-sign-in {
    text-align:center;
}

.sign-in-content {
    display:none;
}

.sign-up-sign-in-box {
    position: relative;
    text-align: right;
    background-color: #021848;
}


.sign-up-sign-in-box::before {
    content: '';
    border-radius:10px;
    top: -15px;
    left: -10px;
    bottom: -15px;
    right: -15px;
    background-image: linear-gradient(to bottom,#1C4EFE 0%, #112F98 100%);
    box-shadow:10px 0 50px rgba(20, 180, 216,0.4);
    position: absolute;
    z-index:-1;
}

.sign-up-sign-in-box::after {
    content: '';
    border-radius:10px;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    background-image: linear-gradient(to bottom,#062466 0%, #87062D 100%);
    position: absolute;
    z-index:-1;
}

.sign-up-or-sign-in {
    display: flex;
    flex-direction: row;
}

.sign-up-or-sign-in > a {
    text-align: center;
    flex-grow:1;
    font-size:1.5em;
    padding:10px;
    letter-spacing:2px;
    text-decoration:none; 
    color:#FFFFFF;
}

.sign-up-or-sign-in > .sign-up {
    background-color:#87062D;
}

.row {
    padding:20px 40px;
    font-size:1.35em;
    letter-spacing:1.8px;
}

.sign-in-content > .row {
    padding:40px;
}


.row > input {
    font-size:0.9em;
    margin-left:15px;
    padding:5px;
    border:2px solid #31f8f8;
    background-color: transparent;
    box-shadow:10px 0 20px rgba(20, 180, 216,0.4);
    color:#FFFFFF;
    outline:none;
    border-radius:5px;
    transition: 0.2s;
}

.row > input:hover {
    box-shadow:10px 0 20px rgba(20, 180, 216,0.6);
}

.submit-row {
    text-align: center;
}


.row > .sign-up-button {
    box-shadow:10px 0 20px rgba(20, 180, 216,0.4);
    font-size:1.1em;
    padding:5px 25px;
    letter-spacing:1.3px;
    transition:0.2s;
    cursor:pointer;
}

.row > .sign-up-button:hover {
    box-shadow:10px 0 20px rgba(20, 180, 216,0.6);
}

.response-message {
    text-align:center;
    font-size:1.33em;
    letter-spacing: 1.3px;
}