* {
    margin: 0; 
    padding:0;
}


body {
    font-family: Inter,sans-serif;
    color:#FFFFFF;
    scrollbar-width: none;

}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/* beginning of navigation bar style */

.navbar-container {
    background-image:linear-gradient(to right,rgb(135, 6, 45) 0%, #87062D 40%, #021848 57%, #021848 100%);
    font-size:1.3em;
    box-shadow:10px 15px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding:20px;
}

.navbar-container > .logo {
    float:left; 
}

.navbar-container > .logo > img {
    width:50px;
    
}
.navbar-container > .navbar {
    display:inline-block;
}

.navbar-container > .navbar-icons {
    float:right;
}

 .navbar-list-item {
    display:inline-block;
    list-style-type: none;
    margin:12px;
}



.navbar-icons-list{
    position:relative;
}


.mobile-navbar {
    display: none;
}

.mobile-navbar > .mobile-navbar-list {
    list-style-type: none;
    line-height:1.5;
}

.mobile-navbar > .mobile-navbar-list > .mobile-navbar-list-item {
    font-size:1.1em; 
    letter-spacing:2px;
    font-weight:bold;
    padding:10px;
}

.mobile-navbar > .mobile-navbar-list > .mobile-navbar-list-item > a {
    text-decoration:none;
    color:#FFFFFF;
}


.navbar-container .hamburger-menu {
    display:none;
}


.registration-login-logout {
    position:absolute;
    background-color:#021848;
    left:-40%;
    display: none;
    box-shadow:10px 15px 30px rgba(255, 255, 255, 0.15);
    list-style-type: none;
    border:1px solid #1C4EFE;
    z-index:9999;
    margin-top:5px;
}


.registration-login-logout::before {
    content:" ";
    position:absolute;
    width:12px;
    height:12px;
    margin-left:-6px;
    margin-top:4px;
    top:-10px;
    transform:rotate(45deg);
    background-color:#1C4EFE;
}


.user-icon:hover + .registration-login-logout {
    display: block;
}

.registration-login-logout:hover {
    display: block;
}


.registration-login-logout > li {
    padding:0 7px;
}




 .navbar-list-item > a {
    color:#FFFFFF;
    font-weight:bold;
    letter-spacing:1.8px;
    text-decoration:none;
   
}   

.navbar-list-item > a:hover,.mobile-navbar-list-item > a:hover {
    text-shadow:2px 2px 25px rgb(255, 255, 255);
}


/* ending of navigation bar style */

.content-container > .card {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    position:relative;
    width:50%;
    float:left;
    height:46vh;
    overflow:hidden;
    transition: 0.5s;
}

.content-container > .card:hover {
    background-color:transparent !important;
}


.content-container > .card > img {
    position:absolute;
    top:0; 
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 0 20%;
}   

.fa-cart-shopping {
    position:relative;
}



.fa-cart-shopping::after {
    content: attr(data-content);
    position:absolute;
    left:12px;
    top:-13px;
    background-color:#1C4EFE;
    font-size:0.63em;
    letter-spacing: 1.5px;
    color:#FFFFFF;
    border-radius:100px;
    padding:5px;
    font-family: Inter,sans-serif;

}

.content-container > .card > .shop-now-btn-container > .shop-now-btn {
    position:relative;
    display:inline-block;
    text-decoration:none;
    text-transform:uppercase;
    padding: 20px 50px;
    opacity:0;
    border:2px solid rgb(255,255,255);
    background-image:linear-gradient(45deg,rgba(8, 41, 113, 0.9) 40%,rgba(135, 6, 45,0.9));
    font-size:1.8em;
    letter-spacing: 0.2rem;
    cursor:pointer;
    border-radius:8px;
    color:#FFFFFF;
    transition:transform 0.5s;
}


.content-container > .card > .shop-now-btn-container > .shop-now-btn:hover {
    transform:scale(1.3);
}

.registration-login-logout > li > a {
    text-decoration: none;
    color:#FFFFFF;
    letter-spacing:2.8px;
    line-height:1.8;
    font-size:0.75em;
    text-shadow:2px 2px 40px rgb(255, 255, 255);
}

.registration-login-logout > li > a:hover {
    text-shadow:2px 2px 40px rgb(255, 255, 255);
}

.registration-login-logout > li:hover {
    background-color: rgba(135, 6, 45,0.8);
}



.clearfix {
    overflow:visible;
}


.clearfix::after {
    content:""; 
    clear:both;
    display:table;
}


